@using Microsoft.AspNetCore.Authorization
@inject VaultService VaultService
@inject IDialogService DialogService
@page "/vaults"
@attribute [Authorize]

<PageTitle>My Vaults</PageTitle>

<h1>My Vaults</h1>

<MudContainer>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateVault">Create vault</MudButton>

    @if (vaults == null || !vaults.Any())
    {
        <MudText Color="Color.Secondary">Create you first vault !</MudText>
    }
    else
    {
        <MudStack Spacing="2">
            @foreach (var vault in vaults)
            {
                <MudPaper Elevation="2" Class="pa-2">
                    <MudText>@vault.Name</MudText>
                </MudPaper>
            }
        </MudStack>
    }
</MudContainer>

@code {
    private List<VaultService.Vault> vaults = new();

    protected override async Task OnInitializedAsync()
    {
        //vaults = await VaultService.GetAllVaultsAsync();
    
        // generate false vaults
        vaults = Enumerable.Range(1, 5).Select(i => new VaultService.Vault { Id = new Guid(), Name = $"Vault {i}" }).ToList();

    }

    private void CreateVault()
    {
        // Logique pour créer un nouveau vault (à implémenter)
        Console.WriteLine("Créer un nouveau vault");
    }

    private async Task OpenCreateVaultDialog()
    {
        var parameters = new DialogParameters
        {
            { "OnSave", EventCallback.Factory.Create<VaultService.Vault>(this, AddVault) }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        DialogService.Show<CreateVaultDialog>("Create Vault", parameters, options);
    }

    private void AddVault(VaultService.Vault newVault)
    {
        vaults.Add(newVault);
    }
}