@using Microsoft.AspNetCore.Authorization
@inject VaultService VaultService
@inject IDialogService DialogService
@page "/vaults"
@attribute [Authorize]

<PageTitle>My Vaults</PageTitle>

<h1>My Vaults</h1>
<MudContainer MaxWidth="MaxWidth.Medium">

    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="OpenCreateVaultDialog"
               Class="mb-4">
        Create vault
    </MudButton>

    @if (vaults == null || !vaults.Any())
    {
        <MudText Color="Color.Secondary">
            Create your first vault !
        </MudText>
    }
    else
    {
        <MudStack Spacing="2">
            @foreach (var vault in vaults)
            {
                <MudPaper Elevation="1"
                          Class="@($"vault-card {(selectedVault?.Id == vault.Id ? "selected" : "")}")"
                          @onclick="() => SelectVault(vault)">

                    <MudStack Row="true" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.subtitle1">
                            @vault.Name
                        </MudText>

                        <MudSpacer />

                        <MudIconButton Color="Color.Error"
                                       OnClick="@(e => DeleteVault(vault))"
                                       Icon="@Icons.Material.Filled.Delete" />
                    </MudStack>

                </MudPaper>
            }
        </MudStack>
    }
</MudContainer>


@code {
    private List<VaultService.Vault> vaults = new();

    private VaultService.Vault? selectedVault;

    protected override async Task OnInitializedAsync()
    {
        //vaults = await VaultService.GetAllVaultsAsync();
    
        // generate false vaults
        vaults = Enumerable.Range(1, 5).Select(i => new VaultService.Vault { Id = Guid.NewGuid(), Name = $"Vault {i}" }).ToList();

    }

    private async Task SelectVault(VaultService.Vault vault)
    {
        selectedVault = vault;
        await OpenPasswordDialog(vault);
    }

    private void AddVault(VaultService.Vault newVault)
    {
        vaults.Add(newVault);
    }

    private void DeleteVault(VaultService.Vault vault)
    {
        vaults.Remove(vault);
    }

    private async Task OpenCreateVaultDialog()
    {
        var parameters = new DialogParameters
        {
            { "OnSave", EventCallback.Factory.Create<VaultService.Vault>(this, AddVault) }
        };
    
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
    
        DialogService.Show<CreateVaultDialog>("Create Vault", parameters, options);
    }

    private async Task OpenPasswordDialog(VaultService.Vault vault)
    {
        var parameters = new DialogParameters
        {
            { "Vault", vault }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        DialogService.Show<PasswordDialog>("Enter Password", parameters, options);
    }
}