.vault-item {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.vault-item:hover {
    background-color: var(--mud-palette-primary-hover);
    color: white;
    box-shadow: 0 0 10px rgba(25, 118, 210, 0.4);
}
